<% provide(:title, "Index") %>
<% provide(:intro, "This is where a list of all courseloads will be found.") %>
<p>Courseload</p>
    <% @course_loads.each do |courseload| %>
        <ul>
        <%= courseload.teacher.name%>
          <ul>
          <li><%= courseload.course.name %></li>
          </ul>
        </ul>
    <% end %>

<br>
<h2><p>Want to create a new courseload? Click here: <%= link_to 'New', new_course_load_path %></p></h2>
