<% provide(:title, "New") %>
<% provide(:intro, "This is where a list of all courseloads will be found.This page will allow the user/teacher to choose the course they are teaching.") %>

<p><%= render 'form_select' %>
   <%= link_to 'Teacher Home', teachers_path %>
</p>
