<% provide(:title, "Home") %>
<% provide(:intro, "Welcome to Attinderance, the app for quick and easy attendance. Keep track of your students and members with just one click.") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Attinderance </title>
  </head>
  <body>
    <div class="header"><%= yield(:title) %></div>
  </body>
</html>
