<h1>Attinderance | New Teacher</h1>
<p>This page will allow the user/teacher to input their data as a new teacher.</p>
<p><%= render 'form'%>
   <%= link_to 'Back', teachers_path%>
</p>
<br>
<h2>Site Map</h2>
<p><%= render 'side_bar' %></p>
<br>
<br>
<p>Find me in app/views/teacher/new.html.erb</p>
