<% provide(:title, " | Sessions") %>
<% provide(:intro, "This is where a list of all sessions will be found.") %>

<% @sessions.each do |session|  %>
    <!-- Want to display course name and session date -->
    <ul>
    	<li>Course: <%= session.course.name %>   Date: <%= session.date %></li>
       <%= link_to 'Delete', session, method: :delete, data: {confirm: 'Are you sure?'}  %>
    </ul>
<% end  %>
<br>
<h2><p>Want to create a new session? Click here: <%= link_to 'New', new_session_path  %></h2>
