<% provide(:title, "New Student") %>
<% provide(:intro, "This page will allow the user/teacher to input the data for a new student. Right now that is only one string field for name. Access to the database needs to be established.") %>

<p><%= render 'form' %>
   <%= link_to 'Back', students_path %>
</p>

<p>Updated by Mlworle on <%= Time.zone.now  %></p>
