<% provide(:title, "New Course Roster") %>
<% provide(:intro, "This page will allow the user/teacher to choose the course they are teaching.") %>

<p><%= render 'form_select' %>
   <%= link_to 'Course Load Index', course_loads_path %>
</p>
