<% provide(:title, "Edit Teacher") %>
<% provide(:intro, "This page will allow the user/teacher to edit or update the data for their own profile. Right now that is only one string field for name.") %>

<p><%= render 'form' %>
   <%= link_to 'Back', students_path %>
</p>
