<% provide(:title, "New Teacher") %>
<% provide(:intro, "This page will allow the user/teacher to input their data as a new teacher.") %>

<p><%= link_to 'Teacher Home', teachers_path %>
	<%= render 'form' %>
</p>
