<% provide(:title, "New Course") %>
<% provide(:intro, "This page will allow the user/course to input their data as a new course.") %>
<p><%= render 'form' %>
   <%= link_to 'Course Home', courses_path %>
</p>
