<% provide(:title, "Home") %>
<% provide(:intro, "This is where a list of all attendances will be found.") %>
<% @attendances.each do |attendance| %>
<!--Display Student, Date, Present -->		`
    <ul>
    <li><%= attendance.student.name %><%= attendance.session.date %></li>
    </ul>
<% end %>

<br>
<h2><p>Want to create a new attendance? Click here: <%= link_to 'New', new_attendance_path %></p></h2>

