<h1>Attinderance | New Attendance</h1>
<p>This page will allow the teacher to add a session to their attendance sheet.</p>
<p><%= render 'form' %>
   <%= link_to 'Attendance Index', attendances_path %>
</p>
<br>
<h2>Site Map</h2>
<p><%= render 'side_bar' %></p>
<br>
<br>
<p>Find me in app/views/attendance/new.html.erb</p>

