<!DOCTYPE html>
<html>
<head>
  <title>Attinderance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css"> 
    body {background-color:blue; 
          font-family: Arial, sans-serif
    }
  </style>
</head>
<body>
  <h1> Attinderance </h1>
<%= yield %>

</body>
</html>
